<a href="/">Home</a>

<h2>Pokemon Result</h2>

<table>
  <tr>   
    <th>Species</th>
    <th>Nickname</th> 
    <th>Level</th>
    <th>Pokedex No</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>
    <% @pokemon.each do |mon|%>
  <tr>
    <td><%= mon.species %></td>
    <td><%= mon.nickname %></td>
    <td><%= mon.level %></td>
    <td><%= mon.pokedex_number %></td>
    <td></td>
    <td><a href="/pokemon/<%= @pokemon[0].id%>/edit">Edit</a>
    <form action="/pokemon/:id" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Delete</button></td>
    </form>
  </tr>  
    <%end%>
    
</table>