
<h1>Welcome to Pokedex</h1>

<h2>...save your pokemons here and never fear they get lost again.</h2>

<%# <% @pokemon && @pokemon.errors.full_messages.each do |message| %>
<%# <p><%= message</p> %>
<%# <% end %>

<form id="pokemon-creation" action="/pokemon" method="post">
  <p>Caught a new Pokemon? Add it to Pokedex!</p>
  <div class = "add-pokedex-form">
    <label for="">Nickname</label>
    <input type="text" name="name" value=""><br/>
    <label for="">Species</label>
    <input type="text" name="species" value=""><br/>
    <label for="">Level</label>
    <input type="text" name="level" value=""><br/>
    <label for="">Pokedex Number</label>
    <input type="text" name="pokedex" id="pokedex" value=""><br/>
    <a href="https://www.pokemon.com/us/pokedex/">Find out pokedex number</a>
    <button class="add-pokemon-btn">Add Pokemon</button>
  </div>
</form>

<div class="text">
</div>

<h2>Pokemon Result</h2>

<table>
  <tr> 
    <th>Species</th>
    <th>Nickname</th> 
    <th>Level</th>
    <th>Pokedex No</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>
    <% @pokemon.each do |mon|%>
  <tr>
    <td><%= mon.species %></td>
    <td><%= mon.nickname %></td>
    <td><%= mon.level %></td>
    <td><%= mon.pokemon_number %></td>
        <% mon.id %>
    <td id="<%= mon.pokemon_number %>"></td>
    <td><a href="/pokemon/<%= mon.id%>/edit">Edit</a>

    <form id="" action="/pokemon/<%=mon.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Delete</button></td>
    </form>

  </tr>  
    <%end%>
    
</table>

<script>

var addPokemonBtn = document.querySelector(".add-pokemon-btn")
var text = document.querySelector(".text")

    addPokemonBtn.addEventListener("click", function() {
      //issue - this will prevent page from reloading and for data to be saved
      event.preventDefault()
      console.log(pokedex.value)
      text.innerHTML = "Saving your pokemon... just a moment!"

      var showImage = $.ajax({
                      url: 'https://pokeapi.co/api/v2/pokemon/' + pokedex.value,
                      }),
                saveImage = showImage.then(function(res) {
        
                  return $.ajax({
                      headers: {
                        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                      },
                      url: 'http://localhost:3000/',
                      dataType: 'json',
                      method: 'POST',
                      data: {
                        name: $('input[name=name]').val(),
                        species: $('input[name=species]').val(),
                        level: $('input[name=level]').val(),
                        pokemon_number: $('input[name=pokedex]').val(),
                        image: res.sprites.front_default
                      }
                });
              });

      saveImage.done(function(res) {
          console.log(res.sprites.front_default);
          text.innerHTML = "Hurray, pokemon saved!"
      });
    })

</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

